<header class="catalog">
  <a href="/" data-turbolinks="false" class="btn btn-primary">Торговый Дом Химик</a>

  <% if !current_page?(products_path) %>

    <a href="/products" data-turbolinks="false" class="btn btn-primary">Каталог</a>

  <% else %>

    <%= link_to list_path(slug: @session_id), turbolinks: false, class: "btn btn-primary" do %>
      К списку
      <% hidden = "hidden-only" if @codes_list.blank? %>
      <span class="products-count <%= hidden %>"><%= @codes_list.count if @codes_list %></span>
    <% end %>

  <% end %>

  <% if current_user %>
    <div class="dropdown dropdown-lists">
      <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <% for list in @lists %>
          <li>
            <%= link_to list_path(slug: list.session_id) do %>
              <%= list.title %>
              <%= "(#{list.codes_list.count})" if @codes_list %>
            <% end %>
          </li>
        <% end %>

        <li><%= link_to "Мои списки", lists_path %></li>
      </ul>
    </div>
  <% end %>

</header>
